body  {
  margin: 0;
  padding: 0;
  width: 1200px;
/*  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;*/

  background-color: #849d8f;
}

.visually-hidden {
  visibility: hidden;
}

.main-navigation {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.search-navigation input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.user-navigation p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.user-navigation input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.user-navigation button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.user-navigation .login-link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.header-contact p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.header-contact a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.slider p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

.slider button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.presents h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.presents p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.presents button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.catalog-item b {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item span {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.about-us h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.about-us li {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.blog-news h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog-news a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.mail-distrib p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.mail-distrib input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.mail-distrib button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.map p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.map b {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.map-contact {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.map-contact b {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.map a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fefefe;
}

.subinfo li {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.subinfo .bold {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.footer-copyright {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.page-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filters legend {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filters option {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.filters label,
.filters button,
.pagination-list {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.user h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.user input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.user button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

a:hover,
a:active {
  color: #ffbc9e;
}

ul {
  list-style: none;
}



.skroll {
  width: 176px;
  background: #f8f7f4;
  height: 4px;
  margin: 20px;
  position: relative;
  /*opacity: 0.5;*/
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
  width: 20px;
  background-image: url("../img/filter-button.png");
  height: 22px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
  border: none;
  opacity: 1;
}

.skroll_left {
  left: 16px;
}

.skroll_right {
  right: 53px;
}

.skroll_field {
  width: 107px;
  height: 4px;
  background: #f8f7f4;
  position: absolute;
  left: 16px;
  opacity: 1;
}

.present {
  width: 560px;
  height: 229px;
  background-color: #ffffff;
  background-size: cover;
  background-clip: border-box;
  border-radius: 20px;
}

 .present-raspberry {
   background-image: url("../img/raspberry.jpg");
 }

.present-chocolate {
  background-image: url("../img/chocolate.jpg");
}


.about-us {
  background-color: #ffffff;
  background-size: 70%;
  background-clip: border-box;
  border-radius: 20px;
  background-image: url("../img/waffle_pattern.jpg");
  width: 1146px;
  height: 306px;
  }

.blog-news {
  background-color: #ffffff;
  background-size: cover;
  background-clip: border-box;
  border-radius: 10px;
  background-image: url("../img/strawberry.jpg");
  width: 560px;
  height: 220px;
  background-position-y: -120px;
  background-position-x: 140px;
}

.mail-distrib {
  border: 0px;
  margin: 0px;
  padding: 4px 5px 5px 6px;
  background-color: #f8f7f4;
  background-size: cover;
  background-clip: border-box;
  border-radius: 10px;
  width: 560px;
  height: 220px;
  background-image: url("../img/post_fon.png");
}

.mail-distrib-fill {
  border: 0px;
  background-color: #f8f7f4;
  background-size: cover;
  background-clip: border-box;
  border-radius: 10px;
  width: 549px;
  height: 211px;

}
